// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
#include "winres.h"
/////////////////////////////////////////////////////////////////////////////
// Deutsch (Deutschland) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_DEU)
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,1,0
 PRODUCTVERSION 1,0,1,0
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments", "Source code at http://www.cerberus-design.de/downloads.htm"
            VALUE "CompanyName", "Cerberus-Design.de"
            VALUE "FileDescription", "NppCrypt - Notepad++ Plugin"
            VALUE "FileVersion", "1.0.1.1"
            VALUE "InternalName", "NppCrypt"
            VALUE "LegalCopyright", "Copyright (C) 2014 cerberus-design"
            VALUE "OriginalFilename", "NppCrypt.dll"
            VALUE "ProductName", "NppCrypt"
            VALUE "ProductVersion", "1.0.1.1"
            VALUE "SpecialBuild", "UNICODE"
        END
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_HASH DIALOGEX 0, 0, 167, 98
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "nppcrypt - hash"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    GROUPBOX        "",IDC_STATIC,3,0,160,23
	LTEXT           "encoding:", IDC_STATIC, 7, 9, 33, 9
	CONTROL         "ascii", IDC_HASH_ENC_ASCII, "Button", BS_AUTORADIOBUTTON, 46, 7, 27, 13
	CONTROL         "hex", IDC_HASH_ENC_BASE16, "Button", BS_AUTORADIOBUTTON, 75, 6, 27, 14
	CONTROL         "base64", IDC_HASH_ENC_BASE64, "Button", BS_AUTORADIOBUTTON, 105, 6, 35, 14
	LTEXT           "help", IDC_HASH_HELP_ENC, 145, 9, 15, 9
    GROUPBOX        "",IDC_STATIC,3,21,160,55
    COMBOBOX        IDC_HASH_ALGO,49,29,92,14,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "algorithm:",IDC_STATIC,8,31,38,13
    CONTROL         "key:",IDC_HASH_USE_KEY,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,9,45,26,11
    COMBOBOX        IDC_HASH_KEYLIST,49,44,92,14,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    EDITTEXT        IDC_HASH_KEYEDIT,49,59,92,14,ES_AUTOHSCROLL
    LTEXT           "help",IDC_HASH_HELP_HASH,146,31,20,9
    LTEXT           "help",IDC_HASH_HELP_KEY,146,46,20,9
    CONTROL         "",IDC_HASH_KEYRADIO1,"Button",BS_AUTORADIOBUTTON,37,46,9,10
    CONTROL         "",IDC_HASH_KEYRADIO2,"Button",BS_AUTORADIOBUTTON,37,61,9,10
    GROUPBOX        "",IDC_STATIC,3,74,160,23
    PUSHBUTTON      "OK",IDC_OK,73,80,42,14
    PUSHBUTTON      "Cancel",IDC_CANCEL,117,80,43,14
END

IDD_RANDOM DIALOGEX 0, 0, 109, 102
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "nppcrypt - random"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "OK",IDC_OK,15,84,39,14
    PUSHBUTTON      "Cancel",IDC_CANCEL,60,84,38,14
    LTEXT           "Bytes",IDC_STATIC,55,7,20,9
    EDITTEXT        IDC_RANDOM_EDIT,7,5,33,13,ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_RANDOM_SPIN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_NOTHOUSANDS,41,4,11,14
    CONTROL         "[a-zA-Z0-9]",IDC_RANDOM_R1,"Button",BS_AUTORADIOBUTTON,9,19,85,15
    CONTROL         "unicode 0021 - 007E",IDC_RANDOM_R2,"Button",BS_AUTORADIOBUTTON,9,31,85,15
    CONTROL         "ascii",IDC_RANDOM_R3,"Button",BS_AUTORADIOBUTTON,9,43,85,15
    CONTROL         "hex",IDC_RANDOM_R4,"Button",BS_AUTORADIOBUTTON,9,55,85,15
    CONTROL         "base64",IDC_RANDOM_R5,"Button",BS_AUTORADIOBUTTON,9,67,85,15
END

IDD_ABOUT DIALOGEX 0, 0, 199, 62
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_BORDER | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 0x0
BEGIN
    PUSHBUTTON      "Close",IDC_OK,73,41,50,14,BS_FLAT
    CTEXT           "www.cerberus-design.de/nppcrypt/readme.v1010.txt",IDC_ABOUT_CERBERUS_URL,11,25,176,8
    CTEXT           "nppcrypt 1.0.1.0",IDC_ABOUT_TEXT,11,6,176,13,0,WS_EX_DLGMODALFRAME
END

IDD_PREFERENCES DIALOGEX 0, 0, 331, 166
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "NppCrypt - Preferences"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    PUSHBUTTON      "OK",IDC_PREF_OK,263,148,58,14
    GROUPBOX        "nppcrypt-files",IDC_STATIC,167,6,153,54
    CONTROL         "enable",IDC_PREF_FILES_ENABLE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,175,17,35,13
    LTEXT           "extension:",IDC_STATIC,175,45,35,11
    EDITTEXT        IDC_PREF_FILES_EXT,212,43,93,12,ES_AUTOHSCROLL
    CONTROL         "ask for encryption when saving",IDC_PREF_FILES_ASK,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,175,32,118,8
    GROUPBOX        "output",IDC_STATIC,7,6,153,139
    GROUPBOX        "hmac-keys",IDC_STATIC,167,60,153,84
    LISTBOX         IDC_PREF_KEYS_LIST,174,71,112,41,LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    EDITTEXT        IDC_PREF_KEYS_LABEL,193,115,118,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_PREF_KEYS_VALUE,193,128,118,12,ES_AUTOHSCROLL
    LTEXT           "label:",IDC_STATIC,173,118,19,10
    LTEXT           "value:",IDC_STATIC,173,128,19,10
    PUSHBUTTON      "add",IDC_PREF_KEYS_ADD,287,71,25,12
    PUSHBUTTON      "del",IDC_PREF_KEYS_DEL,287,84,25,12
    PUSHBUTTON      "ran",IDC_PREF_KEYS_RANDOM,287,98,25,12
    GROUPBOX        "base64",IDC_STATIC,13,103,141,37
    LTEXT           "characters per line:\n(0 = no line breaks)",IDC_STATIC,19,116,64,18
    EDITTEXT        IDC_PREF_BASE64_LV,88,117,35,15,ES_AUTOHSCROLL
    CONTROL         "",IDC_PREF_BASE64_LV_SPIN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ARROWKEYS,124,117,11,15
    GROUPBOX        "hex",IDC_STATIC,14,39,140,61
    CONTROL         "spaces between values",IDC_PREF_HEX_SPACES,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,21,50,88,12
    CONTROL         "lower case",IDC_PREF_HEX_LOWERCASE,"Button",BS_AUTORADIOBUTTON,21,63,48,13
    CONTROL         "upper case",IDC_PREF_HEX_UPPERCASE,"Button",BS_AUTORADIOBUTTON,71,65,53,10
    LTEXT           "values per line:\n(0 = no line breaks)",IDC_STATIC,21,78,64,18
    EDITTEXT        IDC_PREF_HEX_LV,89,79,35,15,ES_AUTOHSCROLL
    CONTROL         "",IDC_PREF_HEX_LV_SPIN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ARROWKEYS,125,79,11,15
    GROUPBOX        "",IDC_STATIC,14,14,140,22
    LTEXT           "EOL:",IDC_STATIC,20,23,21,10
    CONTROL         "Windows",IDC_PREF_EOL_WINDOWS,"Button",BS_AUTORADIOBUTTON,42,22,42,9
    CONTROL         "Unix",IDC_PREF_EOL_UNIX,"Button",BS_AUTORADIOBUTTON,93,22,34,10
END

IDD_CRYPT DIALOGEX 0, 0, 195, 100
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "Encryption"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "OK",IDC_OK,93,84,50,14
    PUSHBUTTON      "Abbrechen",IDC_CANCEL,144,84,50,14
    CONTROL         "",IDC_CRYPT_TAB,"SysTabControl32",TCS_BUTTONS | TCS_MULTILINE | 0x8,0,0,194,84
END

IDD_CRYPT_BASIC DIALOGEX 0, 0, 226, 90
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    EDITTEXT        IDC_CRYPT_PASSWORD,42,39,145,14,ES_AUTOHSCROLL
    CONTROL         "ascii",IDC_CRYPT_ENC_ASCII,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,41,10,27,12
    CONTROL         "hex",IDC_CRYPT_ENC_HEX,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,71,10,27,12
    CONTROL         "base64",IDC_CRYPT_ENC_BASE64,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,101,10,35,12
    COMBOBOX        IDC_CRYPT_CIPHER,41,23,100,28,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_CRYPT_MODE,141,23,45,28,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "encoding:",IDC_STATIC,2,10,31,10
    LTEXT           "cipher:",IDC_STATIC,2,25,29,11
    LTEXT           "password:",IDC_CRYPT_STATIC_PASSWORD,2,41,36,10
END

IDD_CRYPT_AUTH DIALOGEX 0, 0, 212, 74
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    CONTROL         "add hmac",IDC_CRYPT_HMAC_ENABLE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,2,3,41,12
    LTEXT           "hash:",IDC_STATIC,2,19,23,9
    COMBOBOX        IDC_CRYPT_HMAC_HASH,41,18,104,12,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "key:",IDC_STATIC,2,35,25,11
    COMBOBOX        IDC_CRYPT_AUTH_KEY_LIST,41,32,104,12,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "",IDC_CRYPT_AUTH_KEY_PRESET,"Button",BS_AUTORADIOBUTTON,27,34,9,10
    CONTROL         "",IDC_CRYPT_AUTH_KEY_CUSTOM,"Button",BS_AUTORADIOBUTTON,27,48,9,10
    EDITTEXT        IDC_CRYPT_AUTH_KEY_VALUE,41,46,104,13,ES_AUTOHSCROLL
    CONTROL         "show",IDC_CRYPT_AUTH_KEY_SHOW,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,148,48,27,9
END

IDD_CRYPT_KEY DIALOGEX 0, 0, 221, 90
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    CONTROL         "add salt:",IDC_CRYPT_SALT,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,2,4,41,12
    EDITTEXT        IDC_CRYPT_SALT_BYTES,50,3,25,12,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_CRYPT_SALT_SPIN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ARROWKEYS,75,3,11,13
    LTEXT           "Bytes",IDC_STATIC,90,6,33,11
    CONTROL         "pbkdf2:",IDC_CRYPT_KEY_PBKDF2,"Button",BS_AUTORADIOBUTTON,2,20,47,9
    CONTROL         "bcrypt",IDC_CRYPT_KEY_BCRYPT,"Button",BS_AUTORADIOBUTTON,2,34,47,9
    CONTROL         "scrypt",IDC_CRYPT_KEY_SCRYPT,"Button",BS_AUTORADIOBUTTON,2,47,47,9
    COMBOBOX        IDC_CRYPT_PBKDF2_HASH,52,18,50,12,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    EDITTEXT        IDC_CRYPT_PBKDF2_ITER,104,19,39,12,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_CRYPT_PBKDF2_ITER_SPIN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ARROWKEYS,143,19,11,13
    LTEXT           "iterations",IDC_STATIC,156,22,33,11
    EDITTEXT        IDC_CRYPT_BCRYPT_ITER,63,33,25,12,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_CRYPT_BCRYPT_ITER_SPIN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ARROWKEYS,89,33,11,13
    LTEXT           "iterations",IDC_STATIC,103,35,33,11
    LTEXT           "N:  2^",IDC_STATIC,51,49,22,10
    EDITTEXT        IDC_CRYPT_SCRYPT_N,73,47,22,12,ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "r:",IDC_STATIC,109,49,10,10
    EDITTEXT        IDC_CRYPT_SCRYPT_R,115,47,20,12,ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "p:",IDC_STATIC,147,49,10,10
    EDITTEXT        IDC_CRYPT_SCRYPT_P,155,46,20,12,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_CRYPT_SCRYPT_R_SPIN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ARROWKEYS,135,46,11,13
    CONTROL         "",IDC_CRYPT_SCRYPT_P_SPIN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ARROWKEYS,175,46,11,13
    CONTROL         "",IDC_CRYPT_SCRYPT_N_SPIN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ARROWKEYS,96,46,11,13
    LTEXT           "2^",IDC_STATIC,52,35,11,10
END

IDD_CRYPT_IV DIALOGEX 0, 0, 191, 73
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    CONTROL         "(pseudo)random",IDC_CRYPT_IV_RANDOM,"Button",BS_AUTORADIOBUTTON,2,3,88,12
    CONTROL         "key-derivation",IDC_CRYPT_IV_KEY,"Button",BS_AUTORADIOBUTTON,2,15,88,12
    CONTROL         "zero",IDC_CRYPT_IV_ZERO,"Button",BS_AUTORADIOBUTTON,2,27,88,12
END

IDD_AUTH DIALOGEX 0, 0, 177, 47
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "authentication"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    EDITTEXT        IDC_AUTH_KEY,5,15,137,12,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDC_OK,73,31,50,14
    PUSHBUTTON      "Abbrechen",IDC_CANCEL,124,31,50,14
    LTEXT           "please enter authentication-key:",IDC_STATIC,5,4,135,9
    CONTROL         "show",IDC_AUTH_SHOW,"Button",BS_AUTOCHECKBOX,146,17,29,9
END


#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_HASH, DIALOG
    BEGIN
        RIGHTMARGIN, 166
    END

    IDD_CRYPT_BASIC, DIALOG
    BEGIN
    END

    IDD_CRYPT_AUTH, DIALOG
    BEGIN
    END

    IDD_AUTH, DIALOG
    BEGIN
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// AFX_DIALOG_LAYOUT
//

IDD_AUTH AFX_DIALOG_LAYOUT
BEGIN
    0
END

IDD_CRYPT_BASIC AFX_DIALOG_LAYOUT
BEGIN
    0
END

IDD_HASH AFX_DIALOG_LAYOUT
BEGIN
    0
END

#endif    // Deutsch (Deutschland) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

