// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
#include "winres.h"
/////////////////////////////////////////////////////////////////////////////
// Deutsch (Deutschland) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_DEU)
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,1,2
 PRODUCTVERSION 1,0,1,2
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments", "Source code at http://www.cerberus-design.de/downloads.htm"
            VALUE "CompanyName", "Cerberus-Design.de"
            VALUE "FileDescription", "NppCrypt - Notepad++ Plugin"
            VALUE "FileVersion", "1.0.1.2"
            VALUE "InternalName", "NppCrypt"
            VALUE "LegalCopyright", "Copyright (C) 2015 cerberus-design"
            VALUE "OriginalFilename", "NppCrypt.dll"
            VALUE "ProductName", "NppCrypt"
            VALUE "ProductVersion", "1.0.1.2"
        END
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_HASH DIALOGEX 0, 0, 175, 98
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "nppcrypt - hash"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    GROUPBOX        "",IDC_STATIC,3,0,169,23
    LTEXT           "encoding:",IDC_STATIC,7,9,33,9
    CONTROL         "ascii",IDC_HASH_ENC_ASCII,"Button",BS_AUTORADIOBUTTON,43,8,25,11
    CONTROL         "hex",IDC_HASH_ENC_BASE16,"Button",BS_AUTORADIOBUTTON,71,8,24,11
    CONTROL         "base32",IDC_HASH_ENC_BASE32,"Button",BS_AUTORADIOBUTTON,98,8,35,11
    CONTROL         "base64",IDC_HASH_ENC_BASE64,"Button",BS_AUTORADIOBUTTON,135,8,35,11
    GROUPBOX        "",IDC_STATIC,3,21,169,55
    COMBOBOX        IDC_HASH_ALGO,49,29,92,14,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "algorithm:",IDC_STATIC,8,31,38,13
    CONTROL         "key:",IDC_HASH_USE_KEY,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,9,45,26,11
    COMBOBOX        IDC_HASH_KEYLIST,49,44,92,14,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    EDITTEXT        IDC_HASH_KEYEDIT,49,59,92,14,ES_AUTOHSCROLL
    LTEXT           "help",IDC_HASH_HELP_HASH,146,31,13,9
    CONTROL         "",IDC_HASH_KEYRADIO1,"Button",BS_AUTORADIOBUTTON,37,46,9,10
    CONTROL         "",IDC_HASH_KEYRADIO2,"Button",BS_AUTORADIOBUTTON,37,61,9,10
    GROUPBOX        "",IDC_STATIC,3,74,169,23
    PUSHBUTTON      "OK",IDC_OK,73,80,42,14
    PUSHBUTTON      "Cancel",IDC_CANCEL,117,80,43,14
END

IDD_RANDOM DIALOGEX 0, 0, 109, 124
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "nppcrypt - random"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "OK",IDC_OK,34,105,39,14
    LTEXT           "Bytes",IDC_STATIC,50,9,20,9
    EDITTEXT        IDC_RANDOM_EDIT,10,7,33,13,ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_RANDOM_SPIN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_NOTHOUSANDS,44,8,11,13
    CONTROL         "[a-zA-Z0-9]",IDC_RANDOM_R1,"Button",BS_AUTORADIOBUTTON,11,24,85,11
    CONTROL         "unicode 0021 - 007E",IDC_RANDOM_R2,"Button",BS_AUTORADIOBUTTON,11,36,85,11
    CONTROL         "ascii",IDC_RANDOM_R3,"Button",BS_AUTORADIOBUTTON,11,48,85,11
    CONTROL         "hex",IDC_RANDOM_R4,"Button",BS_AUTORADIOBUTTON,11,60,85,11
    CONTROL         "base32",IDC_RANDOM_R5,"Button",BS_AUTORADIOBUTTON,11,72,85,11
    CONTROL         "base64",IDC_RANDOM_R6,"Button",BS_AUTORADIOBUTTON,11,84,85,11
    GROUPBOX        "",IDC_STATIC,3,0,103,100
    GROUPBOX        "",IDC_STATIC,3,99,103,23
END

IDD_ABOUT DIALOGEX 0, 0, 199, 62
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_BORDER | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 0x0
BEGIN
    PUSHBUTTON      "Close",IDC_OK,73,41,50,14,BS_FLAT
    CTEXT           "www.cerberus-design.de/nppcrypt/readme.v1010.txt",IDC_ABOUT_CERBERUS_URL,11,25,176,8
    CTEXT           "nppcrypt 1.0.1.0",IDC_ABOUT_TEXT,11,6,176,13,0,WS_EX_DLGMODALFRAME
END

IDD_PREFERENCES DIALOGEX 0, 0, 161, 170
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "NppCrypt - Preferences"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    PUSHBUTTON      "OK",IDC_PREF_OK,95,149,58,14
    GROUPBOX        "nppcrypt-files",IDC_STATIC,3,3,153,54
    CONTROL         "enable",IDC_PREF_FILES_ENABLE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,10,14,35,13
    LTEXT           "extension:",IDC_STATIC,10,41,35,11
    EDITTEXT        IDC_PREF_FILES_EXT,48,39,99,12,ES_AUTOHSCROLL
    CONTROL         "ask for encryption when saving",IDC_PREF_FILES_ASK,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,10,28,118,8
    GROUPBOX        "hmac-keys",IDC_STATIC,3,59,153,84
    LISTBOX         IDC_PREF_KEYS_LIST,11,70,115,41,LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    EDITTEXT        IDC_PREF_KEYS_LABEL,33,114,115,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_PREF_KEYS_VALUE,33,127,115,12,ES_AUTOHSCROLL
    LTEXT           "label:",IDC_STATIC,11,115,19,10
    LTEXT           "value:",IDC_STATIC,11,128,19,10
    PUSHBUTTON      "add",IDC_PREF_KEYS_ADD,127,70,21,11
    PUSHBUTTON      "del",IDC_PREF_KEYS_DEL,127,82,21,11
    PUSHBUTTON      "ran",IDC_PREF_KEYS_RANDOM,127,94,21,11
    LTEXT           "help",IDC_PREF_HELP,9,151,14,9
    GROUPBOX        "",IDC_STATIC,3,142,154,24
END

IDD_CRYPT DIALOGEX 0, 0, 195, 113
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "Encryption"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "OK",IDC_OK,93,98,50,14
    PUSHBUTTON      "Abbrechen",IDC_CANCEL,144,98,50,14
    CONTROL         "",IDC_CRYPT_TAB,"SysTabControl32",TCS_BUTTONS | 0x8,0,0,195,98
END

IDD_CRYPT_BASIC DIALOGEX 0, 0, 226, 90
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    GROUPBOX        "",IDC_STATIC,1,0,187,74
    EDITTEXT        IDC_CRYPT_PASSWORD,40,53,143,14,ES_AUTOHSCROLL
    COMBOBOX        IDC_CRYPT_CIPHER,91,10,67,28,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_CRYPT_MODE,40,25,50,26,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "cipher:",IDC_STATIC,5,12,29,11
    LTEXT           "password:",IDC_CRYPT_STATIC_PASSWORD,5,55,33,10
    LTEXT           "mode:",IDC_STATIC,5,28,21,9
    LTEXT           "help",IDC_CRYPT_HELP_CIPHER,165,11,19,11
    LTEXT           "help",IDC_CRYPT_HELP_MODE,96,27,18,9
    COMBOBOX        IDC_CRYPT_CIPHER_TYPE,40,10,50,28,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "",IDC_CRYPT_CIPHER_INFO,40,41,142,10
END

IDD_CRYPT_AUTH DIALOGEX 0, 0, 212, 74
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    GROUPBOX        "",IDC_STATIC,1,0,187,74
    COMBOBOX        IDC_CRYPT_AUTH_KEY_LIST,45,36,104,12,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "add hmac",IDC_CRYPT_HMAC_ENABLE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,6,7,41,12
    LTEXT           "hash:",IDC_STATIC,6,24,23,9
    COMBOBOX        IDC_CRYPT_HMAC_HASH,45,22,104,12,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "key:",IDC_STATIC,6,38,25,11
    CONTROL         "",IDC_CRYPT_AUTH_KEY_PRESET,"Button",BS_AUTORADIOBUTTON,31,38,9,10
    CONTROL         "",IDC_CRYPT_AUTH_KEY_CUSTOM,"Button",BS_AUTORADIOBUTTON,31,52,9,10
    EDITTEXT        IDC_CRYPT_AUTH_KEY_VALUE,45,51,104,13,ES_AUTOHSCROLL
    CONTROL         "show",IDC_CRYPT_AUTH_KEY_SHOW,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,151,52,27,9
    LTEXT           "help",IDC_CRYPT_HELP_HMAC,161,10,19,10
END

IDD_CRYPT_KEY DIALOGEX 0, 0, 221, 90
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    GROUPBOX        "",IDC_STATIC,1,0,187,80
    CONTROL         "add salt:",IDC_CRYPT_SALT,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,7,41,12
    EDITTEXT        IDC_CRYPT_SALT_BYTES,55,6,26,12,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_CRYPT_SALT_SPIN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ARROWKEYS,81,6,11,13
    LTEXT           "Bytes",IDC_STATIC,93,8,19,9
    CONTROL         "pbkdf2:",IDC_CRYPT_KEY_PBKDF2,"Button",BS_AUTORADIOBUTTON,7,23,47,9
    CONTROL         "bcrypt",IDC_CRYPT_KEY_BCRYPT,"Button",BS_AUTORADIOBUTTON,7,37,47,9
    CONTROL         "scrypt",IDC_CRYPT_KEY_SCRYPT,"Button",BS_AUTORADIOBUTTON,7,50,47,9
    COMBOBOX        IDC_CRYPT_PBKDF2_HASH,55,21,44,12,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    EDITTEXT        IDC_CRYPT_PBKDF2_ITER,101,21,42,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_CRYPT_PBKDF2_ITER_SPIN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ARROWKEYS | UDS_NOTHOUSANDS,143,21,11,13
    LTEXT           "iterations",IDC_STATIC,155,23,32,11
    EDITTEXT        IDC_CRYPT_BCRYPT_ITER,79,36,28,12,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_CRYPT_BCRYPT_ITER_SPIN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ARROWKEYS | UDS_NOTHOUSANDS,107,36,11,13
    LTEXT           "iterations",IDC_STATIC,121,40,33,8
    LTEXT           "N:  2^",IDC_STATIC,57,52,22,10
    EDITTEXT        IDC_CRYPT_SCRYPT_N,79,50,28,12,ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "r:",IDC_STATIC,121,52,10,10
    EDITTEXT        IDC_CRYPT_SCRYPT_R,127,50,26,12,ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "p:",IDC_STATIC,57,66,10,10
    EDITTEXT        IDC_CRYPT_SCRYPT_P,79,63,28,12,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_CRYPT_SCRYPT_R_SPIN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ARROWKEYS,153,49,11,13
    CONTROL         "",IDC_CRYPT_SCRYPT_P_SPIN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ARROWKEYS | UDS_NOTHOUSANDS,107,62,11,13
    CONTROL         "",IDC_CRYPT_SCRYPT_N_SPIN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ARROWKEYS | UDS_NOTHOUSANDS,107,49,11,13
    LTEXT           "2^",IDC_STATIC,69,39,9,10
    LTEXT           "help",IDC_CRYPT_HELP_SALT,121,8,15,8
    LTEXT           "help",IDC_CRYPT_HELP_KEYALGO,18,64,24,8
END

IDD_CRYPT_IV DIALOGEX 0, 0, 191, 73
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    GROUPBOX        "",IDC_STATIC,1,0,187,74
    CONTROL         "(pseudo)random",IDC_CRYPT_IV_RANDOM,"Button",BS_AUTORADIOBUTTON,9,9,88,12
    CONTROL         "key-derivation",IDC_CRYPT_IV_KEY,"Button",BS_AUTORADIOBUTTON,9,21,88,12
    CONTROL         "zero",IDC_CRYPT_IV_ZERO,"Button",BS_AUTORADIOBUTTON,9,33,88,12
    LTEXT           "help",IDC_CRYPT_HELP_IV,161,10,19,10
END

IDD_AUTH DIALOGEX 0, 0, 177, 47
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "authentication"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    EDITTEXT        IDC_AUTH_KEY,5,15,137,12,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDC_OK,73,31,50,14
    PUSHBUTTON      "Abbrechen",IDC_CANCEL,124,31,50,14
    LTEXT           "please enter authentication-key:",IDC_STATIC,5,4,135,9
    CONTROL         "show",IDC_AUTH_SHOW,"Button",BS_AUTOCHECKBOX,145,17,29,9
END

IDD_CONVERT DIALOGEX 0, 0, 129, 147
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "Convert Encoding"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    GROUPBOX        "from",IDC_STATIC,2,0,60,68
    CONTROL         "ascii",IDC_CONVERT_FROM_ASCII,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,9,12,35,9
    CONTROL         "hex",IDC_CONVERT_FROM_BASE16,"Button",BS_AUTORADIOBUTTON,9,25,35,9
    CONTROL         "base32",IDC_CONVERT_FROM_BASE32,"Button",BS_AUTORADIOBUTTON,9,38,38,9
    CONTROL         "base64",IDC_CONVERT_FROM_BASE64,"Button",BS_AUTORADIOBUTTON,9,51,41,9
    GROUPBOX        "to",IDC_STATIC,66,0,60,68
    CONTROL         "ascii",IDC_CONVERT_TO_ASCII,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,74,12,41,9
    CONTROL         "hex",IDC_CONVERT_TO_BASE16,"Button",BS_AUTORADIOBUTTON,74,25,42,9
    CONTROL         "base32",IDC_CONVERT_TO_BASE32,"Button",BS_AUTORADIOBUTTON,74,38,45,9
    CONTROL         "base64",IDC_CONVERT_TO_BASE64,"Button",BS_AUTORADIOBUTTON,74,51,42,9
    GROUPBOX        "options",IDC_STATIC,2,67,124,54
    CONTROL         "linebreaks",IDC_CONVERT_LINEBREAKS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,9,79,45,9
    CONTROL         "win",IDC_CONVERT_LB_WINDOWS,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,63,78,23,10
    CONTROL         "unix",IDC_CONVERT_LB_UNIX,"Button",BS_AUTORADIOBUTTON,92,78,28,10
    LTEXT           "line-length:",IDC_STATIC,20,92,38,8
    EDITTEXT        IDC_CONVERT_LINELEN,63,91,35,12,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_CONVERT_LINELEN_SPIN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ARROWKEYS,98,91,11,12
    GROUPBOX        "",IDC_STATIC,2,120,124,25
    DEFPUSHBUTTON   "OK",998,13,127,46,14
    PUSHBUTTON      "Cancel",999,63,127,47,14
    CONTROL         "uppercase",IDC_CONVERT_UPPERCASE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,9,106,76,9
END

IDD_CRYPT_ENCODING DIALOGEX 0, 0, 191, 73
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    GROUPBOX        "",IDC_STATIC,1,0,187,19
    CONTROL         "ascii",IDC_CRYPT_ENC_ASCII,"Button",BS_AUTORADIOBUTTON,5,5,31,12
    CONTROL         "hex",IDC_CRYPT_ENC_BASE16,"Button",BS_AUTORADIOBUTTON,37,5,25,12
    CONTROL         "base32",IDC_CRYPT_ENC_BASE32,"Button",BS_AUTORADIOBUTTON,68,5,38,12
    CONTROL         "base64",IDC_CRYPT_ENC_BASE64,"Button",BS_AUTORADIOBUTTON,107,5,37,12
    LTEXT           "help",IDC_CRYPT_ENC_HELP,162,7,18,10
    GROUPBOX        "options",IDC_STATIC,1,19,187,60
    CONTROL         "line breaks:",IDC_CRYPT_ENC_LINEBREAK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,8,31,53,9
    CONTROL         "windows",IDC_CRYPT_ENC_LB_WIN,"Button",BS_AUTORADIOBUTTON,69,30,41,8
    CONTROL         "unix",IDC_CRYPT_ENC_LB_UNIX,"Button",BS_AUTORADIOBUTTON,117,30,28,8
    LTEXT           "line length:",IDC_STATIC,18,44,36,10
    EDITTEXT        IDC_CRYPT_ENC_LINELEN,69,44,34,11,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_CRYPT_ENC_LINELEN_SPIN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ARROWKEYS | UDS_NOTHOUSANDS,103,43,10,12
    CONTROL         "upper case",IDC_CRYPT_ENC_UPPERCASE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,8,57,53,9
END


#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_HASH, DIALOG
    BEGIN
        RIGHTMARGIN, 171
    END

    IDD_RANDOM, DIALOG
    BEGIN
    END

    IDD_ABOUT, DIALOG
    BEGIN
    END

    IDD_PREFERENCES, DIALOG
    BEGIN
        BOTTOMMARGIN, 169
    END

    IDD_CRYPT, DIALOG
    BEGIN
        BOTTOMMARGIN, 107
    END

    IDD_CRYPT_BASIC, DIALOG
    BEGIN
    END

    IDD_CRYPT_AUTH, DIALOG
    BEGIN
    END

    IDD_CRYPT_KEY, DIALOG
    BEGIN
    END

    IDD_CRYPT_IV, DIALOG
    BEGIN
    END

    IDD_AUTH, DIALOG
    BEGIN
    END

    IDD_CONVERT, DIALOG
    BEGIN
        LEFTMARGIN, 2
        BOTTOMMARGIN, 145
    END

    IDD_CRYPT_ENCODING, DIALOG
    BEGIN
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// AFX_DIALOG_LAYOUT
//

IDD_PREFERENCES AFX_DIALOG_LAYOUT
BEGIN
    0
END

IDD_CRYPT_BASIC AFX_DIALOG_LAYOUT
BEGIN
    0
END

IDD_CONVERT AFX_DIALOG_LAYOUT
BEGIN
    0
END

IDD_CRYPT_ENCODING AFX_DIALOG_LAYOUT
BEGIN
    0
END

IDD_CRYPT AFX_DIALOG_LAYOUT
BEGIN
    0
END

IDD_CRYPT_KEY AFX_DIALOG_LAYOUT
BEGIN
    0
END

IDD_AUTH AFX_DIALOG_LAYOUT
BEGIN
    0
END

IDD_HASH AFX_DIALOG_LAYOUT
BEGIN
    0
END

IDD_RANDOM AFX_DIALOG_LAYOUT
BEGIN
    0
END

#endif    // Deutsch (Deutschland) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

